body {
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    /* background-size: inherit;
    background-repeat: no-repeat;
    background-position: center; */
}
form {
    margin-top: 3rem;
}

form input[name="city"],
form input[name="country"] {
    background-color: transparent;
    color: #fff;
    border: 0;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    outline: none;
    text-transform: capitalize;

}
form input[name="city"]:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none;
    background-color: transparent;
    color: #fff;
    text-transform: capitalize;
}
form input[name="country"]:focus {
    border-bottom: 2px solid #fff;
    box-shadow: none;
    background-color: transparent;
    color: #fff;
    text-transform: capitalize;


}
h1, h2, h3, h4, h5, h6, i {
    color: #fff;
}
h4 {
    text-transform: capitalize;
}
::placeholder {
    color: #fff !important;
}